page-home {

    ion-content {
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .format-button {
        font-size: 2.0rem !important;
    }

    .color-red {
        color: red;
    }

    textarea {
        max-width: 100%;
        width: 100%;
        //height: 100vh;
    }

    .format-bar {
        background-color: lightblue;
    }

    .md-show {
        position: inherit !important;
    }

}
